:root {
  --black: #000;
  --secondary: #bd76ff;
  --white: #fff;
  --primary: #5f0080;
  --content: #333;
  --gray-50: #f9f9f9;
  --gray-100: #e1e1e1;
  --gray-200: #c4c4c4;
  --gray-300: #a6a6a6;
  --gray-400: #898989;
  --gray-500: #6b6b6b;
  --gray-600: #565656;
  --gray-700: #404040;
  --gray-800: #2b2b2b;
  --gray-900: #151515;
  --accent-yellow: #dd3700;
  --blue-100: #cce0ff;
  --blue-200: #99c2ff;
  --blue-300: #66a3ff;
  --blue-400: #3385ff;
  --blue-500: #06f;
  --blue-600: #0052cc;
  --blue-700: #003d99;
  --blue-800: #002966;
  --blue-900: #001433;
  --info-error: #f03f40;
}

.sr-only {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.footer{
  margin: 0 auto;
  line-height: 1.5; 
  border-top: 1px solid var(--gray-200, #C8C8C8);
  white-space: nowrap;
}

.footer em, address{
  font-style: initial;
}

.footer a{
  text-decoration-line: none;
  color:#333333;
}

.footer-section1{
  display: flex;
  margin: 0 66px;
  padding: 28px 0 32px 0;
  justify-content: space-evenly;
}

  .happy{
    font-size: 21px
  }

  .footer-wrapper1 p {
    display: block;
    font-size: 16px;
  }
  .footer-wrapper1 strong {
    font-size: 38px;
    padding-right: 10px;
  }

.question{
  margin-top: 30px;
  color: var(--content, #333);
}


  .question, .question-one, .question-order{
    display: flex;
  }
  
  .question a, .question-one a, .question-order a{
  width: 140px;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background-color: transparent;
  line-height: 39px;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 16px;
  }

  .question-p, .question-one-p, .question-order-p {
    color: var(--content, #333);
    letter-spacing: -0.5px;
    line-height: 17px;
  }


  .question-ect{
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  
  .question-ect a{
    color: #5F0080;
  }


  .footer-wrapper2 {
    color: var(--content, #333);
  }
  .footer-wrapper2 ul{
    display: flex;
    justify-content: space-between;
  }

  .footer button{
    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    background-color: transparent;
    line-height: 39px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
    
  }

  .footer-wrapper2 .address{
    margin: 28px 0;
    font-size: 12px;
    padding-right: 70px;
  }
  
  .address a{
    color: #5F0080;
  }

.footer-sns{
  display: flex;
  align-items: flex-start;
  gap:20px;
}

.footer-wrapper3{
  display: flex;
  padding: 24px 0 32px 0;
  line-height: 1.5; 
  font-size: 10px;
  color: var(--content, #333);
  gap: 20px;
}

.footer-section2{
  border-top: 1px solid var(--gray-200, #C8C8C8);
  width: 1050px;
  margin: 0 auto;
  display: flex;
}

.footer-wrapper3 a{
  display: flex;
}

.footer-section3{
  background: var(--gray-50, #F9F9F9);
  display: flex;
  padding: 20px 4px 32px 4px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.footer-wrapper3 img{
  margin-right: 8px;
}

.footer-section3 p{
  text-align: center;
  color: var(--gray-400, #898989);
  font-size: 10px;
}
