:root {
  --black: #000;
  --secondary: #bd76ff;
  --white: #fff;
  --primary: #5f0080;
  --content: #333;
  --gray-50: #f9f9f9;
  --gray-100: #e1e1e1;
  --gray-200: #c4c4c4;
  --gray-300: #a6a6a6;
  --gray-400: #898989;
  --gray-500: #6b6b6b;
  --gray-600: #565656;
  --gray-700: #404040;
  --gray-800: #2b2b2b;
  --gray-900: #151515;
  --accent-yellow: #dd3700;
  --blue-100: #cce0ff;
  --blue-200: #99c2ff;
  --blue-300: #66a3ff;
  --blue-400: #3385ff;
  --blue-500: #06f;
  --blue-600: #0052cc;
  --blue-700: #003d99;
  --blue-800: #002966;
  --blue-900: #001433;
  --info-error: #f03f40;
}

.sr-only {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  font-family: Pretendard;
}


.login span{
  padding-top: 80px;
  padding-bottom: 44px;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 31.992px */
}

.login form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login form input{
  width: 315px;
  height: 43px;
  padding: 0 0 1px 15px;
  border-radius: 4px;
  border: 1px solid var(--gray-300, #A6A6A6);
}

.find{
  padding-left: 205px;
}

.find, .find span{
  margin: 12px 0 28px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.205px */
}

.find a{
  text-decoration-line: none;
  color: #000000;
}

.login-register{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 80px;
}

.login-register a{
  border: 1px solid var(--primary, #5F0080);
  border-radius: 4px;
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login{
  width: 330px;
  height: 44px;
  border: 0;
  cursor: pointer;
}

.btn-login{
  border-radius: 4px;
  background: var(--primary, #5F0080);
  color: white;
  font-size: 16px;
}

.login-register-a{
  color: var(--primary, #5F0080);
  width: 330px;
  height: 44px;
}


